body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#E0D2E8;
}
.contenedor{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.principal {
position: fixed; 
top: 0; 
left: 0;
width: 100%; 
height: 80px; 
background-color: #7B2374;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
box-sizing: border-box;
z-index: 1000; 
}
  
.mipagina{
margin-left: 350px;
color:rgba(83, 230, 235, 0.992);
font-size: 25px;
}
.karolduarte{
    color:rgb(213, 153, 235) ;
    font-size: 20px;
}
h1{
display: flex;
justify-content: center;
align-items: center;
margin-top: 85px;
font-size: 50px;
-webkit-text-stroke:1px rgba(239, 12, 255, 0.625);
}
.divpadre{
    display: flex;
    justify-content: center;
    gap: 50px; 
    max-width: 100%; 
    align-items: center; 
}
.div1,.div2,.div3,.div4{
    width: 23em;
    height: 480px;
    border: 1px solid #ccc;
    text-align: center;
    background: #ffe7fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #A2468C;
}
.img{
  border-radius: 50%;
  width: 250px;
  background-position:center;
  height: 250px;
  display: block;
  margin:0 auto;
  padding: 1px;  
  border: 1px solid #BD2DB0;
  margin-bottom: 30px;
}
.textos{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7B2374;
}
.boton1{
    background-color: #A2468C;
    width: 100px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 5px;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4e1449;
    font-weight: bolder;
    box-shadow: 0px 0px 4px 0px #827d81fc;
    display: flex;
    justify-content: center;
}

 @media (max-width: 1200px) {
    .divpadre {
      flex-direction: column;
    }
    .div1,.div2,.div3,.div4 {
      width: 100%;
    }
  }

@media (max-width: 768px) {
    .textos{
        font-size: 18px;
    }
    .img{
        width: 150px;
        height: 150px;
    }
    .boton1{
        width: 80px;
        height: 40px;
    }
    .principal {
        grid-template-columns: 100%;
        height: auto;
      }
      .mipagina{
        margin: auto;
      }
      h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 145px;
        
      }
      .karolduarte{
        margin-left: 20px;
      }
      .divpadre{
        margin-top: 20px;
        flex-direction: column;
      }
}
@media (max-width: 420px) {
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
        font-size: 30px;  
      } 
      .mipagina{
        margin: auto;
        font-size: 20px;
      }
    
      .karolduarte{
        margin-left: 20px;
        font-size: 20px;
      }
}